Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
src/.deps/
src/.libs/
*.so
*.o
*.lo
*.la
stamp-h1
install-sh
ltmain.sh
missing
libtool
